



            <ul style="padding-right: 0;" class="list-group">
                <li class="list-group-item" >
                    <a href="{% url 'user_panel' %}">پنل کاربری</a>
                </li>

                <li class="list-group-item">
                    <a href="{% url 'edit_user_profile' %}">ویرایش اطلاعات</a>
                </li>

                <li class="list-group-item">
                    <a href="{% url 'change_password_page' %}">تغییر کلمه عبور</a>
                </li>
                
                <li class="list-group-item">
                    <a href="{% url 'user_bought_product_page' %}">لیست خریدهای قبلی</a>
                </li>
            </ul>


