
{% extends 'Shared/Main_Layout.html' %}

{% load render_partial %}
{% load poll_extras %}


{% block content %}

<div class="container">
    <div class="row">   
        <div class="col-md-4">     
        {% if current_user.avatar %}

        {% thumbnail current_user.avatar "862x398" quality=100 crop='center' as im %}
        <a class="thumbnail">
            <img src="{{ im.url }}" alt="...">
        </a>
        {% endthumbnail %}
        
        {% endif %}
        {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
        </div>
        <div class="col-md-8">
            <table class="table table-responsive table-hover table-striped">
                <tr>
                    <th class="text-right">شناسه</th>
                    <th>محصول</th>
                    <th class="text-right">تعداد</th>
                    <th class="text-right">قیمت نهایی خرید</th>
                </tr>

                {% for detail in order.orderdetail_set.all %}

                <td class="text-right"> {{detail.id}} </td>
                <td class="text-right"> {{detail.product.title}} </td>
                <td class="text-right"> {{ detail.count }} </td>

                {% endfor %}

           
            </table>
        </div>
    </div>
</div>

{% endblock %}